root.color_primary {

    color: #d73953;
}

root.color_black {

    color: #090909;
}

root.color-white {

    color: #ffffff;
}

root.color-light-grey {

    color: #f3f3f3;
}

root.color-dark-grey {

    color: #353535;
}

root.text-color {

    color:#090909;
}